{% extends 'base.html' %}
{% load static %}
{% block container %}
<div class="row">
    <div class="col">
      <img src="{% static 'img/img_login.jpg'%}"class="img-thumbnail"  alt="..">
    </div>
  <div class="col">
    <div class="row">
      <form action="{% url 'accounts' %}" method="POST">
        {% csrf_token %}
        <p class="text-center fs-1">Faça seu login</p>
    </div>   
        <!--campo para preencher email-->
        <div class="d-grid gap-2 col-6 mx-auto">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <!--campo para preencher senha-->
        <div class="d-grid gap-2 col-6 mx-auto">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <div id="emailHelp" class="form-text" style="margin-bottom: 5px;">
              <a href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Esqueceu sua senha?</a>
            </div>
        </div>
        <!--botão-->
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Recuperar Senha</h5> 
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div>
              <a href="#" class="btn btn-primary" type="submit" value="Submit">Enviar</a>
            </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endblock %}