<nav class="navbar fixed-top  navbar-dark bg-blue">
    <div class="container-fluid">
        {% if logged %}
            <form class="d-flex">
                <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul class="nav justify-content-end">
                <li class="nav-item-sair">
                    <button class="btn btn-outline-light" type="submit">sair</button>
                </li>
            </ul>
        {% else %}
        <a class="navbar-brand" href="/">{{ brandtext|default:"Diarista para sua casa!"}}</a>
        <div class="d-flex justify-content-end">
            {% if request.path == '/cadastro' %}
                <a href="{% url 'accounts' %}" class="btn btn-light">Login</a>
            {% elif request.path == '/entrar' %}
                <a href="{% url 'register' %}" class="btn btn-light">Cadastre-se</a>
            {% elif resques.path == '/complemento'%}
                <a href="{% url 'complemento' %}" class="btn btn-light">Logout</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</nav>